<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fufunode.mapper.PedingMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into t_tab_peding(name,type_id,description,user_id)
        values(#{name},#{typeId},#{description},#{userId})
    </insert>
    <select id="pageQuery" resultType="com.fufunode.pojo.entity.PedingTab">
        select id, name, create_time, ban_reason, type_id, description, img_url, user_id,
               (select name from t_type where id = type_id) type
        from t_tab_peding
    </select>
</mapper>