<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fufunode.mapper.UserMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
            insert into t_user(
                name, phone, password, role
            ) values (
                #{name},#{phone},#{password},#{role}
           )
    </insert>

    <update id="modify" useGeneratedKeys="true" keyProperty="id">
        update t_user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="avatarUrl != null and avatarUrl != ''">
                avatar_url = #{avatarUrl},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="delBatch">
        delete from t_user
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="com.fufunode.pojo.entity.User">
        select * from t_user
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            and `role` = #{role}
        </where>
        order by create_time desc
    </select>
    <select id="getUserByPhone" resultType="com.fufunode.pojo.entity.User">
        select * from t_user
        <where>
            phone = #{phone}
            <if test="id != null and id != ''">
                and id != #{id}
            </if>
        </where>
    </select>
    <select id="getUser" resultType="com.fufunode.pojo.entity.User">
        select * from t_user
        <where>
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            and password = #{password}
            and role = #{role}
        </where>
    </select>
</mapper>